*{
    font-weight: bold !important;
}

.sesion{
    background: url('../img/background2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-weight: bold !important;
}


.sinsesion{
    background: url('../img/background3.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-weight: bold !important;
}

.navbar{
    font-weight: bold !important;
}

.card
{
    background-color:#ffffff3b !important;
}

.tipo{
    height:112px !important;
}

.card-img-top{
    height:237px !important;
}

.imagenPersonaje{
    margin-top:3% !important;
}

.paginador{
    display: flex;
    padding-left: 0px;
    list-style: none;
    border-radius: 0.25rem;
    justify-content: center;
    font-weight: bold !important;
}

ul.pagination{
    background-color: #ffffff3b !important;
    padding-top:5px !important; 
    padding-right: 3px !important;
    padding-left: 3px !important;
}