*{
    font-weight: bold !important;
}

.sesion{
    background: url('../img/background2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-weight: bold !important;
}


.sinsesion{
    background: url('../img/background3.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-weight: bold !important;
}

.navbar{
    font-weight: bold !important;
}

.card
{
    background-color:#ffffff3b !important;
}

.tipo{
    height:103px !important;
    width:53px !important;
}

.card-img-top{
    height:237px !important;
}

/*.imagenPersonaje{
    margin-top:3% !important;
}*/

.imagenPersonaje > img{
    height: 237px ;
    border-radius: 50%;
    width: 200px;
    height: 200px !important;
}

.paginador{
    display: flex;
    padding-left: 0px;
    list-style: none;
    border-radius: 0.25rem;
    justify-content: center;
    font-weight: bold !important;
}

ul.pagination{
    background-color: #ffffff3b !important;
    padding-top:5px !important; 
    padding-right: 3px !important;
    padding-left: 3px !important;
}

div.estiloSombreado{
    background-color: #ffffff3b !important;
}

.destiloSombreado{
    background-color: rgba(95, 92, 92, 0.562) !important;
}

/*Enlaces con apariencia de botones*/

a.button4{
    display:inline-block;
    padding: 0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    text-decoration: none;
    color:#FFFFFF !important;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align: center;
    transition: all 0.2s;
    background-color: #2a5483;
}

a.button4:hover{
    border-color: rgba(255,255,255,1);
}

/* @media all and (max-width:30em)
{
    a.button4
    {
        margin:0.1em auto;   
    }
} */

/* a.button5{
    display:inline-block;
    padding: 0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    text-decoration: none;
    color:#FFFFFF !important;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align: center;
    transition: all 0.2s;
    background-color: #2a5483;
}

a.button5:hover{
    border-color: rgba(255,255,255,1);
}

@media all and (max-width:30em)
{
    a.button5
    {
        margin:0.1em auto;   
    }
} */
